# DC Dimming
allow system_server vendor_sysfs_dc_dim:file rw_file_perms;
add_service(system_server, dc_dimming_service);

# Linearmotor Vibrator
add_service(system_server, linearmotor_vibrator_service);
